<div class="main users-new">
  <div class="container">
    <div class="form-heading">
        <h4>Login</h4>
    </div>
    <div class="form users-form">
      <div class="form-body center">
      <%= form_tag("/login") do %>
         <ul class="flex">
            <li>
                <p>email</p>
            </li>
            <li>
                <input name="email">
            </li>
        </ul>
        <ul class="flex">
            <li>
                <p>password</p>
            </li>
            <li>
                <input name="password" type="password">
            </li>
        </ul>
        <input type="submit" value="login" class="join">
      <% end %>
      </div>
    </div>
  </div>
</div>