<div class="main users-new">
  <div class="container">
    <div class="form-heading">
    <h4>Sign up</h4></div>
    <div class="form users-form">
      <div class="form-body center">
      <%= form_tag("/users/create") do%>
      <% @user.errors.full_messages.each do |message| %>
        <p class="error">！<%= message %></p>
      <% end %>
        <ul class="flex">
            <li>
                <p>user name</p>
            </li>
            <li>
                <input name="name"></input>
            </li>
        </ul>
        <ul class="flex">
            <li>
                <p>email</p>
            </li>
            <li>
                <input name="email"></input>
            </li>
        </ul>
        <input type="submit" value="join" class="join">
      <% end%>
      </div>
    </div>
  </div>
</div>