<div id="aboutpage">
    <div class="about-contents">
        <h2>About</h2>
        <img src="/flower-img.jpeg" />
        <div class="intraction">
            <p>Hello, this is about page of this website.</p>
        </div>
    </div>
</div>
