<div id="toppage">
    <div class="top-contents">
        <h1>Sumple</h1>
        <h2>this is top page</h2>
        <div class="menu">
            <a href="/about">about　　/　　</a>
            <a href="/about">blog　　/　　</a>
            <a href="/about">news　　/　　</a>
            <a href="/about">sns</a>
        </div>
    </div>
</div>