<div id="toppage">
    <div class="top-contents">
        <h1>Sumple</h1>
        <h2>this is top page</h2>
        <div class="menu">
            <%= link_to("about","/about") %>
            <%= link_to("sns","/posts/index")%>
            <%= link_to("user","/users/index") %>
            <%= link_to("news","/about") %>
        </div>
    </div>
</div>