<div class="main posts-new">
  <div class="container">
    <h3 class="form-heading">編集する</h3>
    <%# 送信先のURLを指定 %>
    <%= form_tag("/posts/#{@post.id}/update") do %>
    <div class="form">
      <div class="form-body">
        <textarea name="content"><%= @post.content %></textarea>
        <input type="submit" value="update">
      </div>
    </div>
    <% end%>
  </div>
</div>