<div class="main posts-new">
  <div class="container">
    <h2 class="form-heading">Tweet</h2>
     <%# form_tagメゾットを用いて、フォームに入力された情報を/posts/create/に送信する %>
        <%= form_tag("/posts/create") do %>
            <div class="form">
                <div class="form-body">
                <%# name属性の値をキーとしたハッシュを送信する %>
                <textarea name="content"></textarea>
                <input type="submit" value="投稿">
                </div>
            </div>
        <% end %>
  </div>
</div>