<div class="main posts-new">
  <div class="container">
    <h2 class="form-heading">Tweet</h2>
        <div class="form">
            <div class="form-body">
            <%# form_tagメゾットを用いて、フォームに入力された情報を/posts/create/に送信する %>
            <%= form_tag("/posts/create") do%>
                <textarea></textarea>
                <input type="submit" value="send">
            <% end %>
            </div>
        </div>
  </div>
</div>